body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Serif", "Arial", sans-serif;
  background-color: burlywood;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 100px;
  height: auto;
  position: relative;
  left: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e0e0c8;
  position: relative;
}

header a {
  margin-right: 2rem;
  text-decoration: none;
  gap: 1rem;
  font-size: 1.2rem;
  color: #000;
}

header div {
  width: 600px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

li a {
  font-weight: bold;
  color: #b7412e;
}


.presentation {
  padding-top: 40px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.presentation div {
  margin-right: 60px;
}

.presentation h2 {
  font-size: 2rem;
}

.presentation p {
  text-align: justify;
  font-size: 1.2rem;
}

.presentation div {
  width: 700px;
}

.presentation figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 430px;
  height: 300px;
  border-radius: 10px;
  margin: 0 0 0 60px;
}

.presentation figure img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin: 20px 0 0 0;
}

.presentation figure figcaption {
  margin: 10px 0 0 15px;
}

.region {
  padding-top: 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.region h1 {
  margin: 0;
  font-size: 2rem;
}

.region-grid {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1.5rem;
}

.region-grid article {
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  height: 420px;
}

.region-grid article * {
  max-width: 100%;
}

.region-grid article img {
  width: 370px;
  height: 200px;
  margin: 15px 0 0 15px;
  border-radius: 10px;
}

.region-grid article h3 {
  margin: 5px 0 0 15px;
}

.region-grid article p {
  text-align: justify;
  margin: 5px 5px 15px 15px;
  padding-right: 10px;
}

.events {
  margin-top: 30px;
  padding-top: 40px;
}

.events h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.events-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.event-card {
  width: 300px;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-sizing: border-box;
}

.event-card h3 {
  margin: 10px 0 10px 15px;
}

.event-card h4 {
  color: #6b6b6b;
  margin: 0 0 0 15px;
}

.event-card p {
  font-size: 1.1rem;
  margin: 20px 10px 0 15px;
  text-align: justify;
}

.forms {
  margin-top: 30px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms h2 {
  font-size: 2rem;
}

.forms-elements {
  background-color: #fff;
  width: 1250px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.elements {
  display: flex;
  flex-direction: row;
}

.element {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 45px;
  gap: 10px;
  font-size: 1.1rem;
}

#email {
  margin-left: 20px;
}

.manifestation {
  margin: 40px 0 0 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.element input {
  padding-left: 15px !important;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid;
  padding: 0;
  width: 555px;
  height: 40px;
  border-radius: 8px;
}

.element select {
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  width: 575px;
  height: 40px;
  border-radius: 8px;
}

#description {
  width: 1160px;
}

#description textarea {
  font-size: 1rem;
  padding-top: 10px;
  padding-left: 15px;
  background-color: #fff;
  border-radius: 8px;
  height: 120px;
  resize: none;
}

.form-actions {
  display: flex;
  gap: 10px;
  justify-content: end;
  height: 35px;
  margin: 10px 55px 0 0;
}

.form-actions button {
  font-size: 1rem;
  border: 1px solid;
  border-radius: 8px;
  width: 70px;
}

#submit {
  background-color: green;
  color: #fff;
}

footer {
  background-color: #364452;
  color: #ecf0f1;
  padding: 5px 0;
  margin-top: 30px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  padding: 0 0 0 30px;
}

.footer-section h3 {
  border-bottom: 1.5px solid burlywood;
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.footer-section p {
  margin: 0.8rem;
  font-size: 1rem;
  line-height: 1.6;
}

.footer-section li {
  margin: 0.8rem;
  font-size: 1rem;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3 ease;
}

.footer-section a:hover {
  color: #3498db;
}

@media(max-width: 1024px) {

  .presentation {
    margin:  0 0 0 15px;
  }

  .presentation div h2 {
    text-align: center;
  }

  .presentation div {
    margin: 0;
    padding:  0 0 0 15px;
    width: 82%;
  }

  .presentation figure {
    width: 60%;
    height: 350px;
    margin:  10px 15px 0 0;
  }

  .presentation figure img {
    height: 75%;
    width: 90%;
  }

  .presentation figure figcaption {
    padding:  0 20px 0 15px;
  }

  .region {
    width: 100%;
  }

  .region-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .region-grid article img {
    margin: 10px 0 0 10px;
    width: 95%;
  }

  .event-card {
    width: 40%;
  }

  .forms-elements {
    width: 82%;
  }

  .element {
    width: 90%;
  }

  .element #municipio {
    width: 97%;
  }

  .element input {
    width: 90%;
  }

  #select {
    width: 45%;
  }

  #description {
    width: 90%;
  }
  .element textarea {
    width: 100%;
  }

  .form-actions {
    margin:  10px 25px 0 0;
  }
}

@media(max-width: 767px) {

  header {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .logo h3 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
  }

  .logo img {
    width: 200px;
    position: static;
  }

  .presentation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .presentation div, .presentation figure {
    margin: 0 0 0 25px;
    align-items: center;
    width: 90%;
    height: auto;
  }

  .presentation figure img {
    margin: 10px 0 0 0;
    width: 95%;
  }

  .presentation figure figcaption {
    margin: 15px;
  }

  .region h1 {
    font-size: 1.5rem;
  }

  .region-grid {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .region-grid article {
    padding: 0 0 20px 0;
    width: 100%;
    height: auto;
  }

  .region-grid article img {
    margin:  2.5%;
    width: 95%;
    height: auto;
  }

  .events {
    width: 100%;
    height: 100%;
  }

  .events h2 {
    font-size: 1.5rem;
  }

  .events-cards {
    flex-wrap: wrap;
  }

  .event-card {
    width: 250px;
    height: 350px;
    padding: 15px;
  }

  .forms h2 {
    font-size: 1.5rem;
  }

  .forms-elements {
    width: 90%;
    height: auto;
    padding: 20px 0;
  }

  .elements {
    flex-direction: column;
  }

  .element {
    margin: 15px 5%;
  }
  .element input{
    width: 95%;
}

  .element select {
    width: 100%;
  }

  .manifestation {
    margin: 15px 5%;
    width: 400px;
  }

  #description {
      width: 90%;
      margin: 15px 5%;
  }

  .form-actions {
    margin: 0 25px 0;
  }
}