body {
margin:0;
padding: 0;
font-family: "Roboto Serif","Arial", sans-serif;
background-color: burlywood;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img{
  width: 100px;
  height: auto;
  position: relative;
  left: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(224, 224, 200);
  position: relative;
}

header a {
  margin-right: 2rem;
  text-decoration: none;
  gap: 1rem;
  font-size: 1.2rem;
  color: #000;
}

header div {
  width: 600px;
}

nav ul{
  display: flex;
  list-style-type: none;
}

li a {
  font-weight: bold;
}


.presentation {
  padding-top: 40px;
  margin-top: 50px;
  gap: 200px;
  display: flex;
  justify-content: space-around;
}

.presentation h2 {
  font-size: 2rem;
}

.presentation p {
  font-size: 1.2rem;
}

.presentation div {
  margin-left: 200px;
  width: 700px;
}

.presentation figure {
  background-color: white;
  margin-right: 200px;
  width: 432px;
  height: 300px;
  border-radius: 10px;
}

.presentation figure img {
  margin: 10px 0 0 10px;
  width: 410px;
  border-radius: 10px;
}

.presentation figure figcaption {
  margin: 10px 0 0 10px;
}

.region {
  padding-top: 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.region h1 {
  margin: 0;
  font-size: 2rem;
}

.region-grid {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1.5rem;
}

.region-grid article {
  background-color: aliceblue;
  border-radius: 10px;
  width: 460px;
  height: 480px;
}

.region-grid article img {
  width: 430px;
  height: 250px;
  margin: 15px 0 0 15px ;
  border-radius: 10px;
}

.region-grid article h3 {
  margin: 5px 0 0 15px;
}

.region-grid article p {
  margin: 5px 0 15px 15px;
}

.events {
  margin-top: 30px;
  padding-top: 40px;
}

.events h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.events-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

.event-card {
  background-color: #ecf0f1;
  width: 340px;
  height: 240px;
  border-radius: 10px;
}

.event-card h3 {
  margin-left: 15px;
}
.event-card h4 {
  margin-left: 15px;
}
.event-card p {
  font-size: 1.1rem;
  margin: 0 10px 0 15px;
}

.forms {
  margin-top: 30px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms-elements {
  background-color: #ecf0f1;
  width: 1440px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.elements {
  display: flex;
  flex-direction: row;
}

.element {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 45px;
  gap: 10px;
  font-size: 1.1rem;
}

#email {
  margin-left: 20px;
}

.manifestation {
  margin: 40px 0 0 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.element input {
  padding-left: 15px !important;
  font-size: 1rem;
  background-color: #ecf0f1;
  border: 1px solid;
  padding: 0;
  width: 640px;
  height: 40px;
  border-radius: 8px;
}

.element select {
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  width: 660px;
  height: 40px;
  border-radius: 8px;
}

#description {
  width: 1340px;
}

#description textarea {
  font-size: 1rem;
  padding-top: 10px;
  padding-left: 15px;
  background-color: #ecf0f1;
  border-radius: 8px;
  height: 120px;
  resize: none;
}

.form-actions {
  display: flex;
  gap: 10px;
  justify-content: end;
  height: 35px;
  margin: 10px 55px 0 0;
}

.form-actions button {
  font-size: 1rem;
  border: 1px solid;
  border-radius: 8px;
  width: 70px;
}

#submit {
  background-color: red;
  color: #fff;
}

footer {
  background-color: #364452;
  color: #ecf0f1;
  padding: 5px 0;
  margin-top: 30px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  padding: 0 0 0 30px;
}
.footer-section h3 {
  border-bottom: 1.5px solid burlywood;
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.footer-section p {
  margin: 0.8rem;
  font-size: 1rem;
  line-height: 1.6;
}

.footer-section li {
  margin: 0.8rem;
  font-size: 1rem;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a{
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3 ease;
}

.footer-section a:hover {
  color: #3498db;
}
