body {
margin:0;
padding: 0;
font-family: Inter, Roboto, Arial;
background-color: burlywood;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img{
  width: 100px;
  height: auto;
  position: relative;
  left: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: beige;
  position: relative;
}

header a {
  margin-right: 2rem;
  text-decoration: none;
  gap: 1rem;
  font-size: 1.2rem;
  color: #000;
}

header div {
  width: 600px;
}

nav ul{
  display: flex;
  list-style-type: none;
}


.apresentacao {
  padding-top: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.apresentacao div {
  margin-left: 200px;
  width: 700px;
}

.apresentacao figure {
  background-color: beige;
  margin-right: 200px;
  width: 420px;
  border-radius: 10px;
}

.apresentacao figure img {
  margin: 10px 0 0 10px;
  width: 400px;
  border-radius: 10px;
}

.apresentacao figure figcaption {
  margin: 10px 0 0 10px;
}

.regiao {
  padding-top: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regiao h1 {
  margin: 0;
  font-size: 2rem;
}

.regiao-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1.5rem;
}

.regiao-grid article {
  background-color: aliceblue;
  border-radius: 10px;
  width: 430px;
}

.regiao-grid article img {
  width: 400px;
  margin: 15px 0 0 15px ;
  border-radius: 10px;
}

.regiao-grid article h3 {
  margin: 5px 0 0 15px;
}

.regiao-grid article p {
  margin: 5px 0 15px 15px;
}