body {
margin:0;
padding: 0;
font-family: Roboto, Inter, Arial,sans-serif;
background-color: burlywood;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img{
  width: 100px;
  height: auto;
  position: relative;
  left: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(224, 224, 200);
  position: relative;
}

header a {
  margin-right: 2rem;
  text-decoration: none;
  gap: 1rem;
  font-size: 1.2rem;
  color: #000;
}

header div {
  width: 600px;
}

nav ul{
  display: flex;
  list-style-type: none;
}


.apresentacao {
  padding-top: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.apresentacao div {
  margin-left: 200px;
  width: 700px;
}

.apresentacao figure {
  background-color: white;
  margin-right: 200px;
  width: 432px;
  border-radius: 10px;
}

.apresentacao figure img {
  margin: 10px 0 0 10px;
  width: 400px;
  border-radius: 10px;
}

.apresentacao figure figcaption {
  margin: 10px 0 0 10px;
}

.regiao {
  padding-top: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regiao h1 {
  margin: 0;
  font-size: 2rem;
}

.regiao-grid {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1.5rem;
}

.regiao-grid article {
  background-color: aliceblue;
  border-radius: 10px;
  width: 430px;
}

.regiao-grid article img {
  width: 400px;
  height: 250px;
  margin: 15px 0 0 15px ;
  border-radius: 10px;
}

.regiao-grid article h3 {
  margin: 5px 0 0 15px;
}

.regiao-grid article p {
  margin: 5px 0 15px 15px;
}

footer {
  background-color: #364452;
  color: #ecf0f1;
  padding: 5px 0;
  margin-top: 30px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 15px;
}
.footer-section h4 {
  border-bottom: 1.5px solid burlywood;
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.footer-section p {
  font-size: 0.8rem;
  line-height: 1.6;
}

.footer-section li {
  font-size: 0.8rem;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a{
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3 ease;
}

.footer-section a:hover {
  color: #3498db;
}
